@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}
body{
    font-family: 'Montserrat', sans-serif;
    

}

.acess{
    background-color: #FFB800;
    font-weight: bold;
    padding: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

center {
    padding-right: calc(50% - 100px);
}

img{
    width: 80px;
}


.chevron-left{
    width: 50px;
    float: left;
}


.acess-1, .acess-2,.acess-3,.acess-4,.acess-5,.acess-6,.acess-7{
    padding: 30px 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

table{
    width: 100%;
    font-size: 16px;
    text-align: center;
}

th {
    padding-bottom: 20px;
}

td {
    padding: 10px 0px;
}

.buttonDelete{
    padding: 5px 10px;
    background-color: #ffb800;
    border-radius: 10px;
    cursor: pointer;
}


.d{
    align-items: center;
    justify-content: center;
    text-align: center;
}
