@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}
body{
    font-family: 'Montserrat', sans-serif;
    

}

.acess{
    background-color: #FFB800;
    font-weight: bold;
    padding: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

center {
    padding-right: calc(50% - 100px);
}

img{
    width: 80px;
}


.chevron-left{
    width: 50px;
    float: left;
}


.acess-1, .acess-2,.acess-3,.acess-4,.acess-5,.acess-6,.acess-7{
    padding: 30px 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.message {
    border-radius: 10px;
    padding: 10px 50px;
    margin: 20px;
}

.message p{
    font-weight: bold;
}

.message.sucesso{
    background-color: #c1ffaf;
}

.message.sucesso p{
    color: #2f8200;
}

.message.erro{
    background-color: #ffd6d6;
}

.message.erro p{
    color: #ff2727;
}


table{
    width: 100%;
    font-size: 16px;
    text-align: center;
}

th {
    padding-bottom: 20px;
}

td {
    padding: 10px 0px;
}

.button{
    padding: 5px 10px;
    background-color: #ffb800;
    border-radius: 10px;
    cursor: pointer;
}


.d{
    align-items: center;
    justify-content: center;
    text-align: center;
}


#back {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000000a;
}

.MiniDialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 10px;
    box-shadow: #00000026 -1px 2px 12px 5px;
}

.MiniDialog header{
    border-radius: 10px 10px 0px 0px;
    background-color: #e9aa04;
    padding: 10px;
    font-size: 16px;
}

.MiniDialog article{
    padding: 10px;
}

.MiniDialog footer{
    border-radius: 0px 0px 5px 5px;
    gap: 10px;
    display: flex;
    padding: 10px 10px 10px 10px;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
}



.MiniDialog button{
    font-size: 14px;
    /* width: 100px; */
    background-color: #f3b001;
    border-radius: 5px;
    /* background: none; */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    outline: inherit;
}
