@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}


.header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-color: #ffb800;
    padding: 15px 15px;
    text-align: center;
    font-weight: bold;
}



.header a{
    float: left;
    
}

.chevron-left{
    width: 30px;

}

.header.title{
    font-family: 'Poppins', sans-serif;
}

.main {
    text-align: center;
}

.main-title{
    margin: 10px 0px;
    font-size: 18px;
}

hr {
    margin: 20px 0px;
    border: 1px solid rgba(226, 226, 226, 0.582);
    width: calc(100% - 2px);
}

.service-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    align-items: center;
}

.service-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    margin: 0 auto;
}

.service-info {
    width: 70%;
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.service-options{
    display: flex;
    gap: 10px;
}

.service-options button {
    flex-grow: 1;
    font-size: 14px;
    /* width: 100px; */
    background-color: #f3b001;
    border-radius: 5px;
    /* background: none; */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    outline: inherit;
}

.qrcode{
    width: 150px;
}

.label {
    font-size: 12px;
    margin-top: 30px;
}

.functions{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.functions button {
    padding: 2px;
    font-size: 12.6px;
    margin: 5px;
    border-radius: 15px;
    border: none;
    width: 150px;
    height: 70px;
    background-color: #D0DFD6;
    cursor: pointer;
}


.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.message {
    border-radius: 10px;
    padding: 10px 50px;
    margin: 20px;
}

.message p{
    font-weight: bold;
}

.message.sucesso{
    background-color: #c1ffaf;
}

.message.sucesso p{
    color: #2f8200;
}

.message.erro{
    background-color: #ffd6d6;
}

.message.erro p{
    color: #ff2727;
}

.DialogInfo {
    width: 100%;
}

.DialogMessage {
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0px 10px;
}

.DialogMessage.sucesso{
    background-color: #c1ffaf;
}

.DialogMessage.sucesso p{
    color: #2f8200;
}

.DialogMessage.erro{
    background-color: #ffd6d6;
}

.DialogMessage.erro p{
    color: #ff2727;
}

#back {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000000a;
}

.MegaDialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 10px;
    /* background-color: white; */
    box-shadow: #00000026 -1px 2px 12px 5px;
}

.MegaDialog header {
    font-size: 14px;
    /* font-weight: 200; */
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    background-color: #f3b001;
}

.MegaDialog header p {
    font-size: 16px;
}

.MegaDialog article {
    padding: 10px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.input-div {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

}


.MegaDialog label {
    font-size: 16px;
}

.MegaDialog input, .MegaDialog select{
    background-color: #FAFAFA;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.MegaDialog footer{
    gap: 10px;
    display: flex;
    padding: 0px 20px 20px 20px;
    flex-wrap: wrap-reverse;
}

.MegaDialog button {
    flex-grow: 1;
    font-size: 16px;
    /* width: 100px; */
    background-color: #f3b001;
    border-radius: 5px;
    /* background: none; */
    border: none;
    padding: 10px 50px;
    cursor: pointer;
    outline: inherit;
}
