@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

.login{
    font-size: 25px;
    font-weight: bold;
    margin-top: 80px;
    text-align: center;
    margin-bottom: 50px;
}

.form-group{
    text-align: center;
}

#usuario, #senha{
    background-color: #FAFAFA;
    border: none;
    padding: 10px;
    width: 25%;
    border-radius: 5px;
}

#lembre{
    accent-color: #FFB105;
}

.entrar{
    background-color: #FFB105;
    border: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    padding: 10px;
    width: 25%;
    border-radius: 5px;
}

.oth{
    color: #8A8A8A;
    text-decoration: none;
}

.oth a{
    color: #8A8A8A;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --color-one: #ffb800;
    --color-two: #ffb105;
    --color-three: #f39423;
    --color-four: #d0dfd6;
    --color-five: #f1f1f1;
    --font-one: 'Montserrat', sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-one);
    font-size: 25px;
    padding: 10px;
    align-items: center;
    height: 60px;
}

span {
    padding-right: calc(50% - 38px);
}

.chevron-left {
    width: 30px;
}

header {
    display: flex;
    background-color: var(--color-three);
    padding: 10px 100px;
    align-items: center;
}

.cardapio {
    font-size: 25px;
    flex-grow: 2;
    text-align: center;
    padding-right: 110px;
}

.comida-img {
    height: calc(100% - 40px);
    border-radius: 20px;
    width: 100px;
}

.imagem {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.alimento {
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-four);
    border-radius: 20px;
    margin: 10px 30px;
    height: 120px;
    align-items: center;
}

h2 {
    flex-grow: 1;
    /*margin: auto 10px;*/
    text-align: center;
}

.main-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: var(--color-one);
    text-align: center;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}


main {
    padding-bottom: 30px;
}

.DialogInfo {
    width: 100%;
}

.DialogMessage {
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0px 10px;
}

.DialogMessage.sucesso{
    background-color: #c1ffaf;
}

.DialogMessage.sucesso p{
    color: #2f8200;
}

.DialogMessage.erro{
    background-color: #ffd6d6;
}

.DialogMessage.erro p{
    color: #ff2727;
}

#back {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000000a;
}

.MegaDialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 10px;
    /* background-color: white; */
    box-shadow: #00000026 -1px 2px 12px 5px;
}

.MegaDialog header {
    display: block;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    background-color: #f3b001;
}

.MegaDialog header p {
    font-size: 16px;
}

.MegaDialog article {
    padding: 10px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.input-div {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

}


.MegaDialog label {
    font-size: 16px;
}

.MegaDialog input, .MegaDialog select{
    background-color: #FAFAFA;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.MegaDialog footer{
    gap: 10px;
    display: flex;
    padding: 0px 20px 20px 20px;
    flex-wrap: wrap-reverse;
}

.MegaDialog button {
    flex-grow: 1;
    font-size: 16px;
    /* width: 100px; */
    background-color: #f3b001;
    border-radius: 5px;
    /* background: none; */
    border: none;
    padding: 10px 50px;
    cursor: pointer;
    outline: inherit;
}

.functions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.functions button {
    font-size: 16px;
    width: 130px;
    height: 25px;
    background-color: #f3b001;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: inherit;
}

